.env
Customer_Churn_Project
Data_Analysis
src/ML/Session_7/Code/creditcard.csv
src/ML/1st_final_project/p1/boston_housing_app
src/DL/Session_1/Code/final_code_design
src/DL/Session_3/Code_Workshop/logs
src/DL/Pipeline/__pycache__
src/NLP/Session_1/Code/MicrosoftTeams-video.mp4
src/NLP/Session_2/Assignment/glove.6B.100d.txt
src/NLP/Session_2/Assignment/glove.6B.300d.txt
src/NLP/Session_1/Material
src/NLP/Session_2/Material
src/NLP/Session_3/Material
src/Exam
